# Thermoversuch: Datenexport nach Excel

In [9]:
import os
import pathlib
import sys
import warnings
warnings.filterwarnings('ignore')
__cwd__ = str(pathlib.Path(os.getcwd())).replace('\\', '/')
sys.path.append(__cwd__)
print(__cwd__)

%load_ext autoreload
%autoreload 2

D:/GitHub/xLH-projects/xlh-thermal-test/python/notebooks
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
import xlwings as xw
import pandas as pd
import matplotlib.pyplot as plt  # https://matplotlib.org/stable/gallery/
plt.rcParams['font.size'] = 6
dpi = 600
%matplotlib inline

In [14]:
# laden der Rohdaten aus dem Notebook 1
df = pd.read_pickle('data/measurement_1.pkl')
print(df.shape)
df.head(5)

(3601, 10)

,t [s],relais,U [V],I [A],Pel [W],Eel [J],T1 [°C],T2 [°C],T3 [°C],Tmw [°C]
0,0.000000,1.0,235.0,0.036,2.9,0.000000,20.2,20.31,20.6,20.370000
1,1.000003,1.0,235.0,0.036,2.9,2.842023,20.2,20.12,20.6,20.306667
2,2.000016,1.0,235.0,0.036,2.9,5.742000,20.2,20.12,20.6,20.306667
3,3.020000,1.0,235.0,0.036,2.9,8.700006,20.2,20.12,20.6,20.306667
4,4.020001,1.0,235.0,0.036,2.9,11.600006,20.2,20.12,20.6,20.306667

In [15]:
# Export der Rohdaten in Excel => (https://docs.xlwings.org/en/stable/connect_to_workbook.html)
# wb = xw.Book('daten/excel.xlsx')
wb = xw.Book('data/excel.xlsx')
sheet = wb.sheets('Tabelle1')
sheet.range('A1:M4000').clear_contents()
sheet.range('A1').value = 'Thermoversuch: Export der Rohdaten'
sheet['A3'].value = df

In [93]:
# END